body{
  background: url(https://images.alphacoders.com/701/thumb-1920-701031.png)no-repeat center center fixed;
  background-size: cover;
}
h2{
  text-align:center;
  color:orange
}
p{

  text-align:center;
}
